*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    color: rgb(200, 65, 95);
    display: flex;
    background: linear-gradient(to right, steelblue, aqua);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

small{
    font-size: 16px;
}

.container{
    background-color: blanchedalmond;
    box-shadow: 0 0 40px rgb(100, 100, 189);
    border-radius: 50px;
    padding: 40px;
    width: 400px;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    margin: auto;
    background-color: black;
    box-shadow: 0 0 40px black;
    border-radius: 50%;
    padding: 40px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer{
    font-size: 30px;
    padding: 20px;
    line-height: 1.5;
}

#btn{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 10px;
    background-color: rgb(200, 65, 95);
    border-radius: 8px;
    border: 2px solid rgb(200, 65, 95);
}

.btn:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}

.btn{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
}


@media (max-width: 1400px) {
    .container{
        width: 75%;
    }

}            